/* Estilo de la perilla (thumb) */
#large-range::-webkit-slider-thumb {
    background-color: #000000;
    /* Negro */
    border: 2px solid #333;
    /* Opcional: agregar un borde oscuro */
    width: 20px;
    /* Tamaño de la perilla */
    height: 20px;
    /* Tamaño de la perilla */
    border-radius: 50%;
    /* Hacer la perilla redonda */
    cursor: pointer;
    appearance: none;
}

#large-range::-moz-range-thumb {
    background-color: #000000;
    /* Negro */
    border: 2px solid #333;
    /* Opcional: agregar un borde */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#large-range::-ms-thumb {
    background-color: #000000;
    /* Negro */
    border: 2px solid #333;
    /* Opcional: agregar un borde */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.circle-border {
position: relative;
padding: 2rem; /* Ajusta el padding según sea necesario */
}

.circle-border::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
border-radius: 50%;
border: 4px dashed black;
box-sizing: border-box;
pointer-events: none;
border-width: 4px;
/* Usamos box-shadow para crear más separación entre los guiones */
box-shadow: 0 0 0 10px transparent, 0 0 0 14px black;
}
