<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Camera</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex justify-center items-center h-screen bg-black relative">
        <!-- Imagen de fondo -->
        <!-- Video de la cámara -->
        <img src="{{ url_for('video_feed') }}" alt="Video en vivo" class="absolute w-full h-full ">
        
        <img src="{{ url_for('static', filename='img/mirilla.png') }}" alt="no carga"
        class="fixed z-2">
        <button class="w-8 h-8 bg-red-200 z-4 fixed" onclick=""></button>
    </div>
</body>
<!-- <script src="{{ url_for('static', filename='js/camera.js') }}"></script> -->

</html>