<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Camera</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex justify-center items-center h-screen bg-black">
        <!-- Elemento video donde se mostrará la cámara -->
        <img src="static/img/mirilla.png" alt="no carga" class="fixed ">
        <video id="video" width="" height="" autoplay class="w-screen h-screen"></video>

        <!-- Enlace al archivo JavaScript que controla la cámara -->
    </div>
</body>
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</html>
